<p style="color: green"><%= notice %></p>

<%= render @mihan_mowatan %>

<div>
  <%= link_to "Edit this mihan mowatan", edit_mihan_mowatan_path(@mihan_mowatan) %> |
  <%= link_to "Back to mihan mowatans", mihan_mowatans_path %>

  <%= button_to "Destroy this mihan mowatan", @mihan_mowatan, method: :delete %>
</div>
