<%= form_with(url: generate_report_mihans_path, method: :post, local: true, multipart: true) do |form| %>
  <!-- Display errors if any -->
  <% if mihan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mihan.errors.count, "error") %> prohibited this mihan from being saved:</h2>

      <ul>
        <% mihan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>  
    <!-- File upload field for .xlsx file -->
    <%= form.file_field :xlsx_file, accept: '.xlsx' %>

    <!-- File upload field for .csv file -->
    <%= form.file_field :csv_file, accept: '.csv' %>

    <!-- Submit button -->
    <%= form.submit "Generate Report" %>
  </div>
<% end %>
