<div id="<%= dom_id mihan %>">
  <p>
    <strong>Foreigners in excel not in csv:</strong>
    <%= mihan.foreigners_in_excel_not_in_csv %>
  </p>

  <p>
    <strong>Foreigners in csv not in excel:</strong>
    <%= mihan.foreigners_in_csv_not_in_excel %>
  </p>
  <strong>Fwithout residence card :</strong>
  <% if @foreigners_without_residence.empty? %>
    <p>No non-Saudis without residence card found.</p>
  <% else %>
      <% @foreigners_without_residence.each do |name, data| %>
        <tr>
          <td><%= name %></td>
          <td><%= data[:border_number] %></td>
          <td><%= data[:entry_date] %></td>
          <td><%= data[:entry_date_gregorian] %></td>
          <td><%= data[:days_remaining] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <p>
    <strong>Saudis only in csv:</strong>
    <%= mihan.saudis_only_in_csv %>
  </p>

  <p>
    <strong>Saudis in excel not in csv:</strong>
    <%= mihan.saudis_in_excel_not_in_csv %>
  </p>

  <p>
    <strong>Saudis in both files half:</strong>
    <%= mihan.saudis_in_both_files_half %>
  </p>

  <p>
    <strong>Saudis in both files zero:</strong>
    <%= mihan.saudis_in_both_files_zero %>
  </p>

</div>
